
.App {
  text-align: center;
  background-color: black;
}

header {
  background-color: rgb(89, 1, 212);
  z-index: 1;
  padding: 1em;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid rgb(236, 5, 5);
}



.photo-feed {
  margin-top: 60px;
  margin-bottom: 60px;

}

.ant-card {
  margin-bottom: 32px;
}



.App-header {
  background-color: rgba(208, 154, 219, 0.872);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(44, 194, 44);
}

.App-link {
  color: #0a5367;
  background-color: aqua;
}

.fab {
  position: fixed;
  bottom: 24px;
  color: blueviolet;
}

.like{
 background-color: rgba(255, 254, 254, 0.675);
}